.wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  gap: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: start;
}

.container {
  color: #f2f2f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 80px;
  font-family: "JetBrains Mono";
  margin-top: 150px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8585ad;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  margin-top: 50px;
}
.tab {
  text-decoration: none;
  font-family: "JetBrains Mono";
  color: #f2f2f3;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  padding-bottom: 20px;
}

.tabInactive {
  text-decoration: none;
  font-family: "JetBrains Mono";
  color: #8585ad;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  padding-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.paragraph {
  width: 320px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8585ad;
  opacity: 0.4;
}

.button {
  padding: 16px 40px;
  color: #f2f2f3;
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 253px;
  height: 56px;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  border-radius: 64px;
  border: none;
  cursor: pointer;
}

.ordercontainer {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
  width: 844px;
  height: 246px;
  background: #1c1c21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  margin-right: 10px;
}

.ordernumbercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ordernumber {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #f2f2f3;
}
.burgertitle {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #f2f2f3;
}
.imgpricecontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.price {
  font-family: "Iceland";

  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #f2f2f3;
}
.imgicon {
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;
  background: #131316;
  border-radius: 100px;
  border: 3px solid #801ab2;
  margin: 5px;
}
.status {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f2f2f3;
  /* Выполнен color: #00CCCC; */
}

.orderswrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 758px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 70px;
}
