main {
  width: 600px;
  font-family: "JetBrains Mono";
  margin-right: 40px;
  background: #131316;
}

.scroller {
  height: 912px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  padding-top: 40px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 492px;
}
::-webkit-scrollbar-thumb {
  background: #8585ad;
  width: 8px;
}

.heading {
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #f2f2f3;
  margin-bottom: 20px;
}

.header {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 24px;
}

.tab {
  display: flex;
}

.price {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  position: relative;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.number {
  font-family: "Iceland", cursive;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  margin-right: 8px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 272px;
}
